{
  "$schema": "./node_modules/wrangler/config-schema.json",
  "name": "proxy-name",
  "main": "src/index.ts",
  "compatibility_date": "2024-01-01",
  "workers_dev": false,
  "route": {
    "pattern": "example.com/*",
    "zone_name": "example.com"
  },
  "kv_namespaces": [
    {
      "binding": "FORECAST_CACHE",
      "id": "00000000000000000000000000000000"
    }
  ],
  "observability": {
    "enabled": true,
    "logs": {
      "enabled": true,
      "invocation_logs": true
    }
  },
  "vars": {
    "APP_IDS": ["384eef47-978a-48c0-ad33-31bdfe9ec18f"]
  }
}
